*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-btn{
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 100px;
}
#show{
    background-color: #007bff;
    border: none;
    color: white;
    padding: 20px 60px;
    border-radius: 20px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 20px 60px;
    border-radius: 20px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
#addUser{
    background-color: #007bff;
    border: none;
    color: white;
    padding: 20px 60px;
    border-radius: 20px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
#delete{
    background-color: #007bff;
    border: none;
    color: white;
    padding: 20px 60px;
    border-radius: 20px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
#box{
    background-color: #007bff;
    border-radius: 10px;
    color: white;
    padding: 20px;
    border: 5px solid #007bff;
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
}